.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

.env
.env.*
!.env.example

node_modules/
build/
dist/
.svelte-kit/
package/
out/
coverage/
*.log

*.db
*.sqlite
*.sqlite3
backend/temp/*
!backend/temp/.gitkeep

backend/public/uploads/*
!backend/public/uploads/avatars/
!backend/public/uploads/articles/
backend/public/uploads/avatars/*
backend/public/uploads/articles/*
!backend/public/uploads/avatars/.gitkeep
!backend/public/uploads/articles/.gitkeep

*.docx
*.pptx
*.xlsx
*.pdf
*.ai

.vercel
.env*
